
<ion-menu content-id="main1" menu-id="menu1" id="menu1" side="start">
  <ion-content class="ion-padding">
    <p>Home Page Menu</p>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main1" class="ion-padding">
  <p>Page One</p>
  <ion-button (click)="openStartMenu('start')" expand="block">Open "start" Menu</ion-button>
  <ion-button (click)="openStartMenu('menu1')" expand="block">Open "#menu1" Menu</ion-button>
  <ion-button (click)="openStartMenu('start', true)" expand="block">Enable and Open "start" Menu</ion-button>
  <ion-button (click)="openStartMenu('menu1', true)" expand="block">Enable and Open "#menu1" Menu</ion-button>
  <ion-button routerLink="/page-two" expand="block">Go to Page Two</ion-button>
</ion-content>
